<div id="logo" class="my-4 px-6">
  <h1 class="text-lg md:text-2xl font-bold text-white">
    {{ envs.companyname
    }}<span class="text-blue-500">{{ envs.companyName2 }}</span
    >.
  </h1>
  <p class="text-slate-500 text-sm">{{ envs.companySlogan }}</p>
</div>
<div id="profile" class="px-6 py-10">
  <p class="text-slate-500">Creado por:</p>
  <a href="#" class="inline-flex space-x-2 items-center">
    <span>
      <img
        class="rounded-full w-8 h-8"
        src="../../../../assets/images/foto-alan.webp"
        alt=""
      />
    </span>
    <span class="text-sm md:text-base font-bold"> Alan González </span>
  </a>
</div>
